:root {
    --theme-color: #285685;
    --font-color: #000000;
    --shade1: rgba(242, 38, 19, 0.5);
    --shade2: rgba(0, 255, 255, 0.5);
  }
  
  body {
    background-color: white;
    font-family: Chaucer;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    flex-direction: column; /* Para que el texto y la imagen se alineen verticalmente */
    align-items: center; /* Centrar los elementos en el contenedor */
  }
  
  .textCont {
    font-size: 100%;
    margin-top: 10%;
    margin-left: 5px;
    margin-right: 5px;
    width: 60%;
    height: 80%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  div.textCont::after {
    content: "|";
    animation: blinky 1s linear infinite;
  }
  
  @keyframes blinky {
    0% {
      opacity: 0;
    }
    49.9% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    99.9% {
      opacity: 1;
    }
  }
  
  /* Nueva animación para la imagen */
  #imagen {
    display: none; /* Ocultar inicialmente */
    width: 300px; /* Cambia el tamaño deseado aquí */
    height: auto; /* Mantener la proporción de aspecto */
    margin: 20px auto; /* Centrar la imagen horizontalmente */
    animation: fadeIn 1s forwards; /* Animación de aparición */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Estilo para los corazones */
  .hearts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Evita que los corazones salgan del contenedor */
  }
  
  .heart {
    position: absolute;
    color: red;
    font-size: 24px; /* Tamaño de los corazones */
    animation: float 2s ease-in forwards; /* Animación de flotación */
    opacity: 0; /* Ocultar inicialmente */
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px); /* Distancia a la que flotarán */
      opacity: 0;
    }
  }
  
  footer {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
  }
  
  footer > a {
    background-color: transparent;
    color: var(--font-color);
    font-weight: bold;
    font-family: "Megrim";
    font-size: 110%;
    text-decoration: none;
    padding: 5px 20px;
    border: 3px solid var(--font-color);
    transition: color 0.5s linear, box-shadow 0.5s ease-in;
  }
  
  .song {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    right: 5%;
    position: absolute;
  }
  
  .pause {
    cursor: pointer;
  }